.rb-pie-chart {
    position: relative;
    display: table-cell;
}

.rb-pie-chart-svg {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
    z-index: 0;
}

.rb-pie-chart-svg path,
.rb-pie-chart-svg circle {
    position: relative;
    display: flex;
    stroke: white;
    stroke-width: .5;
    transition: .3s;
    -webkit-animation: pie-animation 1s ease;
    animation: pie-animation 1s ease;
}

@keyframes pie-animation {
    0% {
        stroke-width: 20;
    }
}

.rb-pie-chart-svg path:hover {
    opacity: 1;
    stroke-width: 2;
}

.rb-pie-chart-back-tool {
    position: absolute;
    z-index: 3;
    transition: .3s;
    color: #777777;
    cursor: pointer;
    padding: 2px;
    left: 40%;
}

.rb-pie-chart-back-tool:hover {
    color: #333333;
}

.rb-pie-chart .tooltip {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 2;
    border-radius: 2px;
    visibility: hidden;
    white-space: pre;
    padding: 4px;
    color: white;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rb-pie-chart:not(:hover) .tooltip,
.rb-pie-chart:not(:focus) .tooltip,
.rb-pie-chart:not(:active) .tooltip {
    visibility: hidden;
}