{
  "presets": [
     "react",
     "es2015",
     "stage-0"
  ],
  "env": {
      "production": {
        "plugins": ["doc-gen"]
      },
      "development": {
        "plugins":  ["doc-gen"]
      }
    }
}
