.popover-content {
    padding: 8px !important;
    border: none;
}

.popover {
    padding: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0px -1px 20px 1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px -1px 20px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 0px -1px 20px 1px rgba(0, 0, 0, 0.12);
}