.multiple-select {
    min-height: 34px;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    outline: none;
    overflow: hidden;
    position: relative;
    padding-bottom: 4px;
    padding-right: 20px;
}

.multiple-select-tool {
    float: right;
    padding: 4px 6px;
    margin-left: 0;
    cursor: pointer;
    background: transparent;
    border: none;
    height: 100%;
    display: block;
    position: absolute;
    right: 0;
}

.multiple-select-item {
    background-color: #f5f5f5;
    border-radius: 2px;
    border: 1px solid #e7e7e7;
    color: #5c5c5c;
    display: flex;
    font-size: 0.9em;
    margin-left: 5px;
    margin-top: 4px;
    vertical-align: top;
    float: left;
    padding: 0;
    max-width: 100%;
}

.multiple-select-icon {
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid #e7e7e7;
    padding: 1px 5px 2px;
}

.multiple-select-icon:hover {
    background-color: #eeeeee;
}

.multiple-select-label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 7px 2px 3px;
}

.multiple-select-input {
    width: 20%;
    max-width: 100%;
    box-sizing: content-box;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    padding-top: 5px;
    padding-left: 4px;
    -webkit-appearance: none;
    float: left;
}

.multiple-select-dropdown {
    width: 100%;
    position: relative;
}

.multiple-select-dropdown-layout {
    position: absolute;
    background: white;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: 1px solid #ddd;
    z-index: 2;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    top: -2px;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.multiple-select-dropdown-layout:empty {
    border: none;
    height: 38px;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.multiple-select-dropdown-layout:empty:after {
    content: attr(id);
    position: absolute;
    background: white;
    width: 100%;
    border: 1px solid #ccc;
    border-top: 1px solid #ddd;
    z-index: 2;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    left: 0;
    padding: 8px;
    height: 38px;
    color: #999999;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.multiple-select-dropdown-layout > * {
    padding: 8px 7px 8px 7px;
    cursor: pointer;
    transition: .3s;
}

.multiple-select-dropdown-layout > *:hover {
    background: #f5f5f5;
}

.multiple-select-dropdown-layout > *:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.multiple-select-disabled,
.multiple-select-disabled * {
    background-color: #eee;
    opacity: 1;
    cursor: not-allowed;
    pointer-events: none
}

.multiple-select-placeholder {
    background: transparent;
    border: none;
    padding-top: 2px;
    margin-left: 5px;
    margin-top: 4px;
    font-size: 1em;
    color: #999;
    white-space: nowrap;
    position: absolute;
}

.has-error .multiple-select,
.has-error .form-control {
    border-color: #a94442 !important
}
