html {
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #484848;
    line-height: 1.28;
}

body {
    overflow: hidden;
}

.banner {
    background: white;
    color: #333;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 8px
}

.footer {
    border-top: #333 dotted 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: none;
}

.navbar {
    background-color: #FFFFFF;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}

.navbar-header img {
    float: left !important;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    height: 34px;
}

.navbar-header a {
    color: #2c3e50 !important;
}

.btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px;
    outline-offset: -2px;
}

.container > .navbar-header {
    border-bottom: 3px solid transparent;
}

.navbar .navbar-nav > li > a {
    border-bottom: 3px solid transparent;
    color: #2c3e50;
}

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .active > a:hover {
    color: #2c3e50 !important;
    background-color: transparent !important;
}

.navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a:hover {
    color: #2c3e50 !important;
    background-color: transparent !important;
}

.navbar .navbar-collapse, .navbar .navbar-form {
    border-color: transparent;
}

pre {
    padding: 0 !important;
    border: 1px solid #eee !important;
}

pre code {
    padding-top: 25px !important;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}

a:hover {
    cursor: pointer;
}