.side-menu .list-group-item {
    border: none !important;
    background-color: transparent !important;
    text-decoration: none !important;
    padding: 5px 0;
    color: #444;
    font-weight: 500;
    transition: .3s;
    cursor: pointer;
    outline: none;
}

.side-menu .list-group-item:hover {
    color: #2980b9;
}

.side-menu .collapsing > .list-group-item,
.side-menu .collapse > .list-group-item,
.side-menu .collapse.in > .list-group-item {
    font-weight: inherit;
    padding: 5px 0;
}

.side-menu > :focus {
    outline: none;
}

.side-menu .list-group-item.active,
.side-menu .list-group-item.active:focus,
.side-menu .list-group-item.active:hover {
    color: #2980b9;
    border: none !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-bottom-color: #ddd;
}