.rb-upload-input {
    display: block;
    width: 80px;
    font-size: 12px;
}

.rb-upload-check {
    float: left;
    cursor: pointer;
}

.rb-upload-image {
    position: relative;
    vertical-align: middle;
    display: block;
    margin: auto;
    height: 43px;
    width: 60px;
}

.rb-upload-image i {
    font-size: 4em !important;
    width: auto !important;
    height: auto !important;
}

.rb-upload-extension {
    position: absolute;
    display: block;
    margin: auto;
    top: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden
}

.rb-upload-icon {
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
}

.rb-upload-name {
    padding-top: 5px;
    margin-top: 20px;
    border-top: 1px solid #eaeaea;
}

.rb-upload-name div {
    display: block;
    width: 100%;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #555;
}

.rb-upload-toolbar {
    display: block;
    width: 100%;
    height: 25px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.rb-upload-toolbar > * {
    cursor: pointer;
    margin: 4px;
}

.rb-upload-toolbar.rb-radius-bottom {
    border-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius: 0px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top: 0px;
}

.rb-upload-toolbar.rb-radius-top {
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius: 0px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-bottom: 0px;
}

.rb-upload-item-tooltip .tooltip-inner {
    background-color: #e2e2e2;
    color: #333;
    filter: alpha(opacity=80);
    opacity: .8;
}