.keyboardArea {
    position: absolute;
    max-width: 460px;
    min-width: 460px;
    padding: 3px;
    z-index: 100000;
    border: 1px solid #cccccc;
    background-color: white;
    -webkit-box-shadow: -1px 5px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 5px 12px -2px rgba(0,0,0,0.75);
    box-shadow: -1px 5px 12px -2px rgba(0,0,0,0.75);
}

.keyboardAreaNumeric {
    position: absolute;
    max-width: 101px;
    min-width: 101px;
    padding: 3px;
    z-index: 100000;
    border: 1px solid #cccccc;
    background-color: white;
    -webkit-box-shadow: -1px 5px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 5px 12px -2px rgba(0,0,0,0.75);
    box-shadow: -1px 5px 12px -2px rgba(0,0,0,0.75);
}

@media screen and (max-width: 600px) and (min-width: 425px) {
    .keyboardArea {
        transform: scale(0.6);
        right: 0;
        margin-top: -50px;
    }

    .keyboardAreaNumeric {
        transform: scale(0.8);
        left: 22px;
        margin-top: -27px;
    }
}

@media screen and (max-width: 425px) and (min-width: 375px) {
    .keyboardArea {
        transform: scale(0.5);
        left: -85px;
        margin-top: -50px;
    }

    .keyboardAreaNumeric {
        transform: scale(0.7);
        left: 22px;
        margin-top: -27px;
    }
}

@media screen and (max-width: 375px) {
    .keyboardArea {
        transform: scale(0.5);
        left: -85px;
        margin-top: -50px;
    }

    .keyboardAreaNumeric {
        transform: scale(0.7);
        left: 22px;
        margin-top: -27px;
    }
}

.buttons {
    margin-right: 2px;
    margin-bottom: 2px;
    background-color: #fbfafa;
}

.letterButtons {
    min-width: 28px;
    max-width: 28px;
}

.backspaceButton {
    min-width: 60px;
}

.capsLockButton {
    padding-left: 20px;
    padding-right: 20px;
}

.qButton {
    margin-left: 42px;
    min-width: 28px;
    max-width: 28px;
}

.shiftButton {
    min-width: 71px;
}

.rightShiftButton {
    margin-bottom: 2px;
    min-width: 76px;
    background-color: #fbfafa;
}

.spaceButton {
    padding: 14px;
    min-width: 272px;
}

.ctrlButton {
    min-width: 85px;
}

.emptyButton {
    padding-top: 23px;
}

.numericKeyboardBackSpace {
    padding-right: 21px;
    padding-left: 21px;
    margin-bottom: 2px;
    background-color: #fbfafa;
}

.numericKeyboardNums {
    margin-right: 2px;
    margin-bottom: 2px;
    background-color: #fbfafa;
}

.languageTextArea {
    margin-bottom: 5px;
    opacity: 0.6;
    user-select: none;
    cursor: move;
}