.wizard {
    display: table;
    width: 100%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.wizard-row {
    display: table-row;
}

.wizard-row:after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 3px;
    left: 0;
    top: 14px;
    z-index: 0;
    background-color: #ddd;
}

.wizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    z-index: 1;
}

.wizard-step:before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 3px;
    left: 0;
    top: 14px;
    transition: .3s;
    z-index: -1;
}

.previous-step:before {
    background-color: #4380db;
}

.previous-step:first-child:before,
.previous-step:last-child:before {
    animation: step-animation 1s ease;
}

@keyframes step-animation {
    0% {
        width: 0;
    }
}

.wizard-step-button {
    background: white;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    z-index: 3;
    border: 1px solid #ddd;
    transition: .3s;
}

.previous-step .wizard-step-button {
    background: #4380db;
    border: none;
}

.wizard-step-button:after {
    content: attr(id);
    color: #ddd;
    z-index: 4;
}

.previous-step .wizard-step-button:after {
    color: white;
}

.wizard-step-button:hover {
    transform: scale(1.1);
}

#wizard a:focus {
    outline: none;
    outline-offset: 0;
}