.wizard {
    display: table;
    position: relative;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 40px;
    padding: 0;
}

.wizard li {
    display: table-cell;
    text-align: center;
    position: relative;
}

.wizard li .step {
    width: 34px;
    height: 34px;
    margin: 0 auto;
    text-align: center;
    border-radius: 34px;
    padding: 0;
    line-height: 34px;
    position: relative;
    transition: .3s;
    z-index: 2;
}

.wizard li .label {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 35px;
    color: #122b40;
    font-size: 100%;
    font-weight: 400;
}

.wizard:after {
    content: '';
    position: absolute;
    background-color: #efefef;
    height: 3px;
    width: 100%;
    left: 0;
    top: 15px;
    z-index: 0;
}

.wizard .step-active:after {
    content: '';
    position: absolute;
    background-color: #357ebd;
    height: 3px;
    width: 100%;
    left: 0;
    top: 15px;
    transition: .3s;
    z-index: 1;
}

.wizard .step-active:first-child:after {
    width: 50%;
    left: 50%;
}

.wizard .step-active:last-child:after {
    width: 50%;
    left: 0;
}

.wizard .step-passive:after {
    content: '';
    position: absolute;
    background-color: #efefef;
    width: 100%;
    left: 0;
    height: 3px;
    transition: .3s;
    top: 15px;
    z-index: 1;
}

.wizard .step-passive:first-child:after {
    width: 50%;
    left: 50%;
}

.wizard .step-passive:last-child:after {
    width: 50%;
    left: 0;
}

#wizard .pager li > a, .pager li > span {
    border-radius: 4px;
}